
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>BİNGÖL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/web/css/style" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/webcss/slider" rel="stylesheet" type="text/css" media="all" />
</head>
<body>   
    <div class="content">
        <div class="wrap">
            <div class="about">

                <br />
                <img src="~/web/images/bingölilçeler.png" alt="" />
                <br />
                <p>Bingöl, Türkiye’nin Doğu Anadolu Bölgesi’nde yer alan, tarihi ve doğal güzellikleriyle dikkat çeken bir şehirdir. Bu yazıda Bingöl'ün İlçeleri’ni daha yakından tanıyalım.</p>
                <p><strong>1. Merkez İlçe:</strong> Bingöl'ün kalbi olan Merkez ilçesi, şehrin idari ve ticari merkezidir. Burada yer alan Kiğı Mağaraları ve Çapakçur Köprüsü gibi yerler turistlerin ilgisini çekmektedir.</p>
                <p><strong>2. Genç:</strong> Tarihi dokusu ve yeşil alanlarıyla bilinen Genç, Bingöl'ün eski yerleşim yerlerinden biridir. İlçede yer alan tarihi kaleler ve mesire alanları dikkat çeker.</p>
                <p><strong>3. Solhan: Solhan:</strong> Bingöl'ün doğal güzelliklerinin öne çıktığı bir ılçedir. Yüzen Adalar, Solhan’da mutlaka görülmesi gereken bir doğa harikasıdır.</p>
                <p><strong>4. Karlıova:</strong> Bingöl'ün kuzeyinde yer alan Karlıova, sert iklimi ve karla kaplı dağlarıyla bilinir. İlçe, kayak sporuna uygun alanlara sahiptir.</p>
                <p><strong>5. Kiğı:</strong> Tarihi yapılarıyla bilinen Kiğı, Bingöl'ün en eski yerleşim yerlerinden biridir. Eski kiliseler ve kaleler ilçenin zengin tarihini gözler önünçe serer.</p>
                <p><strong>6. Adaklı:</strong> Bingöl'ün batısında yer alan Adaklı, huzurlu atmosferi ve doğal güzellikleriyle bilinir. İlçede yer alan çeşitli yaylalar ve dağlar, trekking severler için ideal bir ortam sunar.</p>
                <p><strong>7. Yayladere:</strong> Adından da anlaşılacağı gibi Yayladere, yaylalarıyla meşhurdur. İlçe, yüksek rakımlı alanları ve temiz havasıyla dikkat çeker.</p>
                <p><strong>8. Yedisu:</strong> Bingöl'ün kuzeybatısında yer alan Yedisu, bol su kaynakları ve doğal güzellikleriyle bilinir. İlçe, adını yedi önemli su kaynağından almaktadır.</p>
                <p>Bingöl'ün bu ilçeleri, tarihi ve doğal güzelliklerinin yanında, samimi insanları ve yerel kültürleriyle de öne çıkar. Şehir, sessiz ve huzurlu bir atmosfer arayanlar için ideal bir rota sunmaktadır.</p>
                <p>Birçok ilçe, yayla turizmine uygun yapısıyla dikkat çekerken, dağları, nehirleri ve ormanlarıyla da doğaseverlerin ilgisini çekmektedir. Bingöl, her mevsimde farklı bir güzelliğe bürünerek ziyaretçilerini ağırlamaya devam ediyor.</p>
                <br />
                <br />
            </div>
            <div class="grids">
                <div class="box1">
                    <div class="padding">
                        <h4>İlçelerimiz</h4>
                        <ul class="list list-pad">
                            <li class="list-bg"><span>1.</span><a href="#">Adaklı</a></li>
                            <li class="list-bg1"><span>2.</span><a href="#">Genç</a></li>
                            <li class="list-bg"><span>3.</span><a href="#">Karlıova</a></li>
                            <li class="list-bg1"><span>4.</span><a href="#">Kiğı</a></li>
                            <li class="list-bg"><span>5.</span><a href="#">Solhan</a></li>
                            <li class="list-bg1"><span>6.</span><a href="#">Yayladere</a></li>
                        </ul>
                    </div>
                    <div class="desti-middle">
                        <h4>Son 3 Yıl Nüfus Dağılımı</h4>
                        <div class="box-left">
                            <div class="bot-img">
                                <img src="~/web/images/2023.jpg" alt="" />
                            </div>
                            <div class="bot-desc">
                                <p></p>
                                <p>: 285.655</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="box-left">
                            <div class="bot-img">
                                <img src="~/web/images/2022.jpg" alt="" />
                            </div>
                            <div class="bot-desc">
                                <p>: 282.556</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="box-left">
                            <div class="bot-img">
                                <img src="~/web/images/2021.jpg" alt="" />
                            </div>
                            <div class="bot-desc">
                                <p>: 283.112</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>        
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>
